html, body {
    background-color: #E6E6E6;
    box-sizing: border-box;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}
p {
    font-family: 'Abel', sans-serif;
}

nav {
    width: 100%;
}

.topNav {
    line-height: 5;
    position: relative;
    float: right;
}

.navRow {
    height: 75px;
}
.logoWords {
    position: relative;
    padding-left: 4.5em;
    line-height: 3;
    font-size: 1.5em;
}

.topRow {
    height: 3em;
    width: 100%;
}
.logoCol {
    position: relative;
    height: 6.1em;
}

.logo {
    background-image: url('/assets/logo.jpg');
    position: absolute;
    height: 105px;
    width: 105px;
    bottom: .5em;
    left: 2.7em;

}
.heading {
    text-align: center;
    font-weight: bold;
}

.buttons {
    list-type-style: none;
    padding: 0;
    margin: 0;
}
.listRow {
    /*height: ;*/
    /*width: 8em;*/
}
.design {
    /*position: relative;*/
    border: 4px solid white;
    border-radius: 50%;
    background-color: #E6563B;
    text-decoration: none;
    height: 6em;
    width: 6em;
    text-align: center;
    line-height: 5;
    color: white;
}
.develop {
    /*position: relative;*/
    border: 4px solid white;
    border-radius: 50%;
    background-color: #EB9D3A;
    text-decoration: none;
    height: 6em;
    width: 6em;
    text-align: center;
    line-height: 5;
}
.support {
    border: 4px solid white;
    border-radius: 50%;
    background-color: #7CB06C;
    text-decoration: none;
    height: 6em;
    width: 6em;
    text-align: center;
    line-height: 5;
}
.host {
    border: 4px solid white;
    border-radius: 50%;
    background-color: #00ABA9;
    text-decoration: none;
    height: 6em;
    width: 6em;
    text-align: center;
    line-height: 5;
}
